html {
  height: 100%;/*this chunk is the backround*/
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: center;/*text in center of screen*/
}

/* #heading will hold styling code that only pertains to items on the HTML file with the ID heading */
nav {
  background-color: white;/*background color of images*/
  color: black;/*font color*/
  padding: 5px;/*size of font*/
  text-align: center;/*text in center of screen*/
}

ul {
  list-style-type: none;
  margin: 0;/*no margin, direct center*/
  padding: 0;/*no margin space*/
  overflow: hidden;/*overflow text isn't shown*/
  background-color: navy;/*background is navy of box*/
}

li {
  float: left;/*floats text to left*/
}

li a {
  display: block;/*displays block of color*/
  color: white;/*block color is white*/
  text-align: center;/*text in center of screen*/
  padding: 14px 16px;/*slight margin space*/
  text-decoration: none;/*apperance of line*/
}

/* .city1 will hold styling code that pertains to all items on the HTML file with the class city1, regardless of their tag */
.city1 {
  background-color: tomato;/*color of blocks*/
  color: white;/*color of font*/
  padding: 10px;/*margin space*/
} 

/* .city2 will hold styling code that pertains to all items on the HTML file with the class city2, regardless of their tag */
.city2 {
  background-color: lightsalmon;/*color of blocks*/
  color: white;/*color of font*/
  padding: 10px;/*margin sace*/
} 

img {
  display: block;/*shows color in block form*/
  margin-left: auto;/*margin goes to the left*/
  margin-right: auto;/*margin goes to the right*/
  width: 50%;/*level of width in text*/
  height: auto;/*height automated*/
  border: solid 5px;/*solid border 5 pixels outside */
}

.image1 {/*border around image, white with 5 pixel padding*/
  border-color: white;
  padding: 5px;
}

.image2 {/*border around image 2, white with 20 pixel padding*/
  border-color: white;
  padding: 20px;
}
